.mgt-0 { margin-top: 0px; }
.mgt-5 { margin-top: 5px; }
.mgt-10 { margin-top: 10px; }
.mgt-20 { margin-top: 20px; }
.mgt-30 { margin-top: 30px; }
.mgt-40 { margin-top: 40px; }
.mgt-50 { margin-top: 50px; }
.mgt-100 { margin-top: 100px; }

.mgb-0 { margin-bottom: 0px; }
.mgb-5 { margin-bottom: 5px; }
.mgb-10 { margin-bottom: 10px; }
.mgb-20 { margin-bottom: 20px; }
.mgb-30 { margin-bottom: 30px; }
.mgb-50 { margin-bottom: 50px; }
.mgb-100 { margin-bottom: 100px; }

.mgl-0 { margin-left: 0px; }
.mgl-5 { margin-left: 5px; }
.mgl-10 { margin-left: 10px; }
.mgl-20 { margin-left: 20px; }
.mgl-30 { margin-left: 30px; }
.mgl-40 { margin-left: 40px; }
.mgl-50 { margin-left: 50px; }
.mgl-100 { margin-left: 100px; }

.mgr-0 { margin-bottom: 0px; }
.mgr-5 { margin-right: 5px; }
.mgr-10 { margin-right: 10px; }
.mgr-20 { margin-right: 20px; }
.mgr-30 { margin-right: 30px; }
.mgr-40 { margin-right: 40px; }
.mgr-50 { margin-right: 50px; }
.mgr-100 { margin-right: 100px; }
